# Base de datos
DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/siggan_db?schema=public"

# JWT
JWT_SECRET="cambiar_este_secreto"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=3001
NODE_ENV=development

# Frontend URL (para CORS)
FRONTEND_URL="http://localhost:3000"
